.intro-header .page-heading .sub-heading, .intro-header .post-heading .subheading, .intro-header .site-heading .sub-heading, .navbar-custom, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

a {
  color: #333333;
}

a:hover, a:focus {
  color: #0085A1;
  text-decoration: none;
}

p {
    line-height: 1.5;
    margin: 30px 0
}

/*Navigation*/
.navbar-custom {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}

a:focus, a:hover {
    color: #0085A1
}

a img:focus, a img:hover {
    cursor: zoom-in
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px
    font-weight:  500px;
}

li > form > a {
	color: #777;
	line-height: 20px;
	position: relative;
	display: block;
	padding: 15px 15px;
}

@media only screen and (min-width: 768px) {
	.navbar-custom {
		background: 0 0;
		border-bottom: 1px solid transparent;
	}

	.navbar-custom .nav li a {
	    color: #fff;
	    padding: 20px
	}

	.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
	    color: rgba(255,255,255,.8)
	}

	.navbar-custom .nav li ul.dropdown-menu a {
	    color: #333
	}

	.navbar-custom .nav li ul.dropdown-menu a:focus, .navbar-custom .nav li ul.dropdown-menu a:hover {
	    color: #0085A1
	}
    
    .dropdown-custom > a[aria-expanded="true"] {
        color: #0085A1 !important;
        background-color: rgb(245,245,245) !important; 
    }
    
    .dropdown-custom > a[aria-expanded="true"] > span.caret{
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 0;
        border-bottom: 4px solid #0085A1;
    }
    
    .dropdown-custom > .dropdown-menu {
        border: none;
        padding: 0;
        background-clip: border-box;
        transition-delay:
    }
}

@media only screen and (min-width:1170px) {
    .navbar-custom {
        -webkit-transition: background-color .3s;
        -moz-transition: background-color .3s;
        transition: background-color .3s;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }
    .navbar-custom.is-fixed {
        position: fixed;
        top: -61px;
        background-color: rgba(255,255,255,.9);
        border-bottom: 1px solid #f2f2f2;
        -webkit-transition: -webkit-transform .3s;
        -moz-transition: -moz-transform .3s;
        transition: transform .3s
    }
    .navbar-custom.is-fixed .navbar-brand {
        color: #333
    }
    .navbar-custom.is-fixed .navbar-brand:focus,.navbar-custom.is-fixed .navbar-brand:hover {
        color: #0085A1
    }
    .navbar-custom.is-fixed .nav li a {
        color: #333
    }
    .navbar-custom.is-fixed .nav li a:focus,.navbar-custom.is-fixed .nav li a:hover {
        color: #0085A1
    }
    .navbar-custom.is-visible {
        -webkit-transform: translate3d(0,100%,0);
        -moz-transform: translate3d(0,100%,0);
        -ms-transform: translate3d(0,100%,0);
        -o-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }
}

/*Page Header*/
.intro-header {
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px
}

.intro-header .site-heading {
	padding: 100px 0 50px;
	text-align: center;
	color: #fff;
}

.intro-header h1 {
	font-weight: 800;
	font-size: 50px;
	margin-top: 0;
}

hr.small {
	max-width: 200px;
	margin: 15px auto;
	border-width: 2px;
	border-color: #fff;
}

.intro-header .site-heading .sub-heading {
	font-size: 24px;
	line-height: 1.1;
	display: block;
	font-weight: 300;
	margin: 10px 0 0;
}

@media only screen and (min-width:768px) {
    .intro-header .page-heading, .intro-header .post-heading, .intro-header .site-heading {
        padding: 150px 0;
    }
    .intro-header .page-heading h1, .intro-header .site-heading h1 {
        font-size: 70px
    }
}
